# file endings
*.gz
*.log
*.pdf
*.jl.cov
*.jl.mem
*.jl.*.cov
*.DS_Store
*.sublime-workspace
*.ipynb_checkpoints

# specific files/directories
data/input/
docs/build/
data/spvis.dat
data/input/*.h5
sftp-config*.json
data/iag_blueshifts.dat

