# file endings
*.gz
*.log
*.pdf
*.jl.cov
*.jl.mem
*.jl.*.cov
*.DS_Store
*.sublime-workspace
*.ipynb_checkpoints

# specific files/directories
sftp-config.json
sftp-config-alt.json
Manifest.toml
/docs/build/
